@import "normalize";
@import "foundation/components/type";
@import "foundation/components/top-bar";
@import "foundation/components/button-groups";
$alert-font-size: rem-calc(18);
$alert-transition-speed: 560ms;
@import "foundation/components/alert-boxes";
@import "foundation/components/panels";
@import "foundation/components/visibility";

.font-time {
  @media all and (min-width: 501px) {
    font-size: rem-calc(124);
  }

  @media all and (max-width: 500px) {
    font-size: rem-calc(80);
  }
}
